In [2]:
import pandas as pd
df = pd.read_excel("/content/world_population_excel_workbook.xlsx")
print(df)

     Rank CCA3            Country           Capital Continent  \
0      36  AFG        Afghanistan             Kabul      Asia
1     138  ALB            Albania            Tirana    Europe
2      34  DZA            Algeria           Algiers    Africa
3     213  ASM     American Samoa         Pago Pago   Oceania
4     203  AND            Andorra  Andorra la Vella    Europe
..    ...  ...                ...               ...       ...
229   226  WLF  Wallis and Futuna          Mata-Utu   Oceania
230   172  ESH     Western Sahara         El AaiÃºn    Africa
231    46  YEM              Yemen             Sanaa      Asia
232    63  ZMB             Zambia            Lusaka    Africa
233    74  ZWE           Zimbabwe            Harare    Africa

     2022 Population  2020 Population  2015 Population  2010 Population  \
0           41128771         38972230         33753499         28189672
1            2842321          2866849          2882481          2913399
2           44903225         43451666         39543154         35856344
3              44273            46189            51368            54849
4              79824            77700            71746            71519
..               ...              ...              ...              ...
229            11572            11655            12182            13142
230           575986           556048           491824           413296
231         33696614         32284046         28516545         24743946
232         20017675         18927715         16248230         13792086
233         16320537         15669666         14154937         12839771

     2000 Population  1990 Population  1980 Population  1970 Population  \
0           19542982         10694796         12486631         10752971
1            3182021          3295066          2941651          2324731
2           30774621         25518074         18739378         13795915
3              58230            47818            32886            27075
4              66097            53569            35611            19860
..               ...              ...              ...              ...
229            14723            13454            11315             9377
230           270375           178529           116775            76371
231         18628700         13375121          9204938          6843607
232          9891136          7686401          5720438          4281671
233         11834676         10113893          7049926          5202918

     Area (kmÂ²)  Density (per kmÂ²)  Growth Rate  World Population Percentage
0         652230             63.0587       1.0257                         0.52
1          28748             98.8702       0.9957                         0.04
2        2381741             18.8531       1.0164                         0.56
3            199            222.4774       0.9831                         0.00
4            468            170.5641       1.0100                         0.00
..           ...                 ...          ...                          ...
229          142             81.4930       0.9953                         0.00
230       266000              2.1654       1.0184                         0.01
231       527968             63.8232       1.0217                         0.42
232       752612             26.5976       1.0280                         0.25
233       390757             41.7665       1.0204                         0.20

[234 rows x 17 columns]

In [3]:
df.iloc[3]

Rank                                      213
CCA3                                      ASM
Country                        American Samoa
Capital                             Pago Pago
Continent                             Oceania
2022 Population                         44273
2020 Population                         46189
2015 Population                         51368
2010 Population                         54849
2000 Population                         58230
1990 Population                         47818
1980 Population                         32886
1970 Population                         27075
Area (kmÂ²)                               199
Density (per kmÂ²)                   222.4774
Growth Rate                            0.9831
World Population Percentage               0.0
Name: 3, dtype: object

In [7]:
df[df['Rank'] < 10].sort_values(by=['Rank', 'Country'], ascending=[False, True])

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
171,9,RUS,Russia,Moscow,Europe,144713314,145617329,144668389,143242599,146844839,148005704,138257420,130093010,17098242,8.4636,0.9973,1.81
16,8,BGD,Bangladesh,Dhaka,Asia,171186372,167420951,157830000,148391139,129193327,107147651,83929765,67541860,147570,1160.0350,1.0108,2.15
27,7,BRA,Brazil,Brasilia,South America,215313498,213196304,205188205,196353492,175873720,150706446,122288383,96369875,8515767,25.2841,1.0046,2.70
149,6,NGA,Nigeria,Abuja,Africa,218541212,208327405,183995785,160952853,122851984,95214257,72951439,55569264,923768,236.5759,1.0241,2.74
156,5,PAK,Pakistan,Islamabad,Asia,235824862,227196741,210969298,194454498,154369924,115414069,80624057,59290872,881912,267.4018,1.0191,2.96
93,4,IDN,Indonesia,Jakarta,Asia,275501339,271857970,259091970,244016173,214072421,182159874,148177096,115228394,1904569,144.6529,1.0064,3.45
221,3,USA,United States,"Washington, D.C.",North America,338289857,335942003,324607776,311182845,282398554,248083732,223140018,200328340,9372610,36.0935,1.0038,4.24
92,2,IND,India,New Delhi,Asia,1417173173,1396387127,1322866505,1240613620,1059633675,870452165,696828385,557501301,3287590,431.0675,1.0068,17.77
41,1,CHN,China,Beijing,Asia,1425887337,1424929781,1393715448,1348191368,1264099069,1153704252,982372466,822534450,9706961,146.8933,1.0000,17.88