In [17]:
import pandas as pd

In [4]:
pd.read_csv("countries of the world.csv")

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

In [20]:
df = pd.read_json("json_sample.json")

In [10]:
pd.set_option("display.max.columns", 40)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 38 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   12 Strong                                  1 non-null      object
 1   A Fantastic Woman (Una Mujer Fantástica)   1 non-null      object
 2   All The Money In The World                 1 non-null      object
 3   Bilal: A New Breed Of Hero                 1 non-null      object
 4   Call Me By Your Name                       1 non-null      object
 5   Darkest Hour                               1 non-null      object
 6   Den Of Thieves                             1 non-null      object
 7   Ferdinand                                  1 non-null      object
 8   Fifty Shades Freed                         1 non-null      object
 9   Film Stars Don'T Die In Liverpool          1 non-null      object
 10  Forever My Girl                            1 non-null      object
 11  Golden Exits                               1 non-null      object
 12  Hostiles                                   1 non-null      object
 13  I, Tonya                                   1 non-null      object
 14  Insidious: The Last Key                    1 non-null      object
 15  Jumanji: Welcome To The Jungle             1 non-null      object
 16  Mary And The Witch'S Flower                1 non-null      object
 17  Maze Runner: The Death Cure                1 non-null      object
 18  Molly'S Game                               1 non-null      object
 19  Paddington 2                               1 non-null      object
 20  Padmaavat                                  1 non-null      object
 21  Permission                                 1 non-null      object
 22  Peter Rabbit                               1 non-null      object
 23  Phantom Thread                             1 non-null      object
 24  Pitch Perfect 3                            1 non-null      object
 25  Proud Mary                                 1 non-null      object
 26  Sanpo Suru Shinryakusha                    1 non-null      object
 27  Star Wars: The Last Jedi                   1 non-null      object
 28  The 15:17 To Paris                         1 non-null      object
 29  The Commuter                               1 non-null      object
 30  The Disaster Artist                        1 non-null      object
 31  The Greatest Showman                       1 non-null      object
 32  The Insult (L'Insulte)                     1 non-null      object
 33  The Post                                   1 non-null      object
 34  The Shape Of Water                         1 non-null      object
 35  Three Billboards Outside Ebbing, Missouri  1 non-null      object
 36  Till The End Of The World                  1 non-null      object
 37  Winchester                                 1 non-null      object
dtypes: object(38)
memory usage: 224.0+ bytes

In [22]:
df.shape

(1, 38)

In [23]:
df.head()

,12 Strong,A Fantastic Woman (Una Mujer Fantástica),All The Money In The World,Bilal: A New Breed Of Hero,Call Me By Your Name,Darkest Hour,Den Of Thieves,Ferdinand,Fifty Shades Freed,Film Stars Don'T Die In Liverpool,Forever My Girl,Golden Exits,Hostiles,"I, Tonya",Insidious: The Last Key,Jumanji: Welcome To The Jungle,Mary And The Witch'S Flower,Maze Runner: The Death Cure,Molly'S Game,Paddington 2,Padmaavat,Permission,Peter Rabbit,Phantom Thread,Pitch Perfect 3,Proud Mary,Sanpo Suru Shinryakusha,Star Wars: The Last Jedi,The 15:17 To Paris,The Commuter,The Disaster Artist,The Greatest Showman,The Insult (L'Insulte),The Post,The Shape Of Water,"Three Billboards Outside Ebbing, Missouri",Till The End Of The World,Winchester
0,"{'Genre': 'Action', 'Gross': '$453,173', 'IMDB...","{'popcornscore': 83, 'rating': 'R', 'tomatosco...","{'popcornscore': 71, 'rating': 'R', 'tomatosco...","{'popcornscore': 91, 'rating': 'PG13', 'tomato...","{'popcornscore': 87, 'rating': 'R', 'tomatosco...","{'popcornscore': 84, 'rating': 'PG13', 'tomato...","{'Genre': 'Action', 'Gross': '$491,898', 'IMDB...","{'popcornscore': 49, 'rating': 'PG', 'tomatosc...","{'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...","{'popcornscore': 69, 'rating': 'R', 'tomatosco...","{'popcornscore': 91, 'rating': 'PG', 'tomatosc...","{'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...","{'Genre': 'Adventure', 'Gross': '$548,886', 'I...","{'popcornscore': 89, 'rating': 'R', 'tomatosco...","{'popcornscore': 51, 'rating': 'PG13', 'tomato...","{'Genre': 'Action', 'Gross': '$760,867', 'IMDB...","{'popcornscore': 78, 'rating': 'PG', 'tomatosc...","{'Genre': 'Action', 'Gross': '$720,463', 'IMDB...","{'popcornscore': 85, 'rating': 'R', 'tomatosco...","{'Genre': 'Animation', 'Gross': '$184,414', 'I...","{'popcornscore': 62, 'rating': 'NR', 'tomatosc...","{'Genre': 'Comedy', 'Gross': 'unknown', 'IMDB ...","{'Genre': 'Animation', 'Gross': 'unknown', 'IM...","{'popcornscore': 68, 'rating': 'R', 'tomatosco...","{'popcornscore': 52, 'rating': 'PG13', 'tomato...","{'popcornscore': 56, 'rating': 'R', 'tomatosco...","{'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...","{'popcornscore': 48, 'rating': 'PG13', 'tomato...","{'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...","{'popcornscore': 48, 'rating': 'PG13', 'tomato...","{'popcornscore': 89, 'rating': 'R', 'tomatosco...","{'Genre': 'Biography', 'Gross': '$627,248', 'I...","{'popcornscore': 86, 'rating': 'R', 'tomatosco...","{'Genre': 'Biography', 'Gross': '$463,228', 'I...","{'Genre': 'Adventure', 'Gross': '$448,287', 'I...","{'popcornscore': 87, 'rating': 'R', 'tomatosco...","{'popcornscore': -1, 'rating': 'NR', 'tomatosc...","{'Genre': 'Biography', 'Gross': '$696,786', 'I..."